release/src/router/pptpd/Makefile
release/src/router/pptpd/config.log
release/src/router/pptpd/config.status
release/src/router/sw-hw-auth/hw_auth
release/src/router/sw-hw-auth/hw_auth.c
release/src/router/sw-hw-auth/sw_auth.c
release/src/router/sw-hw-auth/main.c
release/src/router/sw-hw-auth/merlinr_hack.c
release/src/router/sw-hw-auth/main.c.bak
release/src/router/sw-hw-auth/hw_auth.c.bak
release/src/router/sw-hw-auth/sw_auth.c.bak
release/src/router/sw-hw-auth/merlinr_hack.c.bak
release/src/router/sw-hw-auth/prebuild/*_r
release/src/router/sw-auth-lite/*.c

~
*.ko
*.o.cmd
*.ko.cmd
modules.order
*.mod.c
*.mod.o
release/src/router/*/*.o
release/src/router/*/*.la
release/src/router/*/*.a
release/src/router/*/*.lo
release/src/router/*/*.so
release/src-rt-7.14.114.x/src/image/
release/src-rt-7.14.114.x/dhd/
release/src-rt-7.14.114.x/dhd24/
temp_*.dict
.deps/
.libs/
temp.dict
stamp-h1
config.status
config.log
release/src/router/strongswan-5.2.1/src/*/Makefile
release/src/router/strongswan-5.2.1/src/*/Makefile.in

