release/src/router/pptpd/Makefile
release/src/router/pptpd/config.log
release/src/router/pptpd/config.status
~
*.ko
*.o.cmd
*.ko.cmd
modules.order
*.mod.c
*.mod.o
release/src/router/*/*.o
release/src/router/*/*.la
release/src/router/*/*.a
release/src/router/*/*.lo
release/src/router/*/*.so
release/src-rt-7.14.114.x/src/image/
release/src-rt-7.14.114.x/dhd/
release/src-rt-7.14.114.x/dhd24/
temp_*.dict
.deps/
.libs/
temp.dict
stamp-h1
config.status
config.log
release/src/router/strongswan-5.2.1/src/*/Makefile
release/src/router/strongswan-5.2.1/src/*/Makefile.in

